$listItemColor: orange;
$link-color : green;
nav{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;
            color:$listItemColor;
            font: {
                family: Helvetica, sans-serif;
                size: 18px;
                weight: bold

            }
            
            text: {
                align: center;
                transform: lowercase;
                overflow: hidden;
            }
        }
    }
    
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $link-color;
    }
}