@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
    font-family: 'Manrope', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Space Grotesk', sans-serif;
  }
  @theme {
    --font-space: 'Space Grotesk', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }