@import "tailwindcss";

/* Remove fixed background/color from body */

body {
    margin: 0;
}

.recipe-section {
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
    max-width: 800px;
    margin: 0px auto;
}


/* Heading Colors and Spacing */

.recipe-section h1,
.recipe-section h2,
.recipe-section h3,
.recipe-section h4 {
    color: #ef4444;
    /* Bright Red */
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.recipe-section h1 {
    font-size: 2rem;
    border-bottom: 2px solid #ef4444;
    padding-bottom: 10px;
}

.recipe-section h3 {
    font-size: 1.5rem;
}

.recipe-section h4 {
    font-size: 1.2rem;
    text-decoration: underline;
}


/* Text Spacing */

.recipe-section p {
    margin-bottom: 1.5rem;
}

.recipe-section li {
    margin-bottom: 10px;
    color: inherit;
}

.recipe-section strong {
    color: inherit;
}