.parent{
    display: grid;
      /* grid-template-columns:200px 200px; same thing as the one below */
    grid-template-columns:repeat(2,1fr);
    /* grid-template-columns: span 2; 
    makes element stretch across 2 column from top to bottom*/
    grid-template-rows: 100px 100px;
    gap:10px;
    /* grid-template-columns: repeat(2, 1fr) 
    it mean it repeat the same column with 1 fraction 
    repeat(#no. of column , number of width)*/
    /* grid-column:1/3;  */
}

.parent div{
    background-color: green;
    padding: 20px;
}